data/batch*
output/

plate_layout/__pycache__
tests/__pycache__
.pytest_cache
#.vscode/

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sql
*.sqlite

# 
*.pyc